body {
  font-family: "Montserrat", sans-serif;
  color: #3a393e;
}

.login-bg {
    background-image: url("../images/dashboard.jpg");
    background-repeat: repeat;
    border: thin;
}

.loginscreen {
    padding-top: 110px;
}

.loginscreen h3 {
    margin-top: 30px;
    color: white;
}

.loginscreen .description {
    color: white;
    font-weight: normal;
    font-size: 11px;
    padding-bottom: 30px;
}

.loginscreen fieldset {
    border: 1px groove #ddd;
    padding: 0 16px 8px;
    -webkit-box-shadow: 0 #000;
    box-shadow: 0 #000;
    font-size: 12px;
}

.loginscreen legend {
    border-bottom: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.loginscreen .checkbox {
    color: white;
}

.input-validation-error {
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field-validation-error {
    color: #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
}

.validation-summary-errors ul {
    list-style-type: none;
    padding: 2px 5px;
}
  
.automatic-width{
   width: 100%;
}

a.text-warning:hover{
    color:#b17100 !important;
}